<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= opts.title %></title>

  <link rel="icon" type="image/png" href="/favicon.png">

</head>
<body>
  <h1><%= opts.title %></h1>

  <form method="post">
    <input type="submit" value="Create a new <%= opts.roomWord.toLowerCase() %>">
  </form>
</body>
</html>
