<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chest <%= roomId %></title>

  <link rel="icon" type="image/png" href="/favicon.png">

</head>
<body>
  <nav>
    <a href="/"><%= opts.title %></a>
  </nav>
  <h1>Chest <%= roomId %></h1>

  <form enctype="multipart/form-data" method="post">
    <input name="img" type="file"><br>
    <input type="submit" value="Upload file">
  </form>

  <% if (files.length === 0) { %>
  <p>The chest is empty. No files uploaded yet.</p>
  <% } else { %>
    <% files.forEach((file, index) => { %>
      <p><%= JSON.stringify(file) %></p>
    <% }) %>
  <% } %>
</body>
</html>
